.nav{
    border-bottom: 1px solid rgba(0,0,0,.08);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    height: 77px;
}
.menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1010px;
  padding: 26px 40px;
  width: 100%;
}
.menu-flex-01{
  -webkit-box-flex: 1;
  -ms-flex: 1 9999 0%;
  flex: 1 9999 0%;
  min-width: 40px;
}
.menu-flex-02{
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
}
.menu-flex-03{
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.home {
  margin-right: 12px;
  margin-top: -4px;
  max-width: 100%;
  overflow: hidden;
  position: relative;

}

.home a{
  background-position: -177px 0;
  height: 35px;
  width: 176px;
}

.ohters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap;
}
.ohters-link-01 a{
  background-position: 0 -279px;
  height: 24px;
  width: 24px;
}

.ohters-link-02{
  margin-left: 30px;

}
.ohters-link-02 a{
  background-position: -302px -180px;
  height: 24px;
  width: 24px;
}
